!!! 5
html
    head
        meta(name='robots', content='noindex,nofollow')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='/apidocs/stylesheets/prettify.css')
        link(rel='stylesheet', href='/apidocs/stylesheets/style.css')

    body
        !{body}
        div(id='io-footer')
           div(class='f-left') &copy;  
              a(href='http://www.geoclique.me') GeoClique
           div(class='f-right') Powered by 
              a(href='https://github.com/mashery/iodocs') I/O Docs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/apidocs/javascripts/json2.js')
        script(src='/apidocs/javascripts/prettify.js')
        script(src='/apidocs/javascripts/utilities.js')
        script(src='/apidocs/javascripts/livedocs.js')
        script(src='/apidocs/javascripts/docs.js')
