@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body { background: url("../images/bg.png") repeat scroll 0 0 #fff; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

#io-footer {
  margin-top: 25px;
}

#io-footer a{
  text-decoration: none;
  color: inherit; 
  color: #666;
}

#io-footer a:hover {
  text-decoration: underline;
  color: #0088cc;
}

.f-left {
  font-size: 8pt;
  text-align: left;
  float: left;
}

.f-right {
  font-size: 8pt;
  text-align: right;
  float: right;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 600;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 'Open Sans',Arial,Helvetica,sans-serif;
  *font-size: small;
  font-weight: 400;
}

select,
input,
textarea,
button {
  font-size: 13px;
}

input, 
select,
textarea { 
  border: 1px solid #CCCCCC; 
  padding: 2px 4px; 
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}
input[type="submit"] { 
background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#eeeeee));
background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
background: -moz-linear-gradient(top, #ffffff, #eeeeee);
background: -o-linear-gradient(top, #ffffff, #eeeeee);
background: -ms-linear-gradient(top, #ffffff, #eeeeee);
background: linear-gradient(top, #ffffff, #eeeeee);
background-color: #ffffff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
border-radius: 5px; 
padding: 4px 15px;
font-size: 12px;
font-weight: 600;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
}

pre,
code,
kbd,
samp {
  font-family: "Courier New",Courier,monospace;
}

html {
  overflow-y: scroll;
}

a:link {
  -webkit-tap-highlight-color: #0088CC;
}

a:hover,
a:active {
  outline: none;
}

a,
a:active,
a:visited {
  color: #0088CC;
}

a:hover {
  color: #0088CC;
}

ul,
ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong,
th {
  font-weight: 600;
  color: #444;
}

td {
  vertical-align: top;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

textarea {
  overflow: auto;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input:invalid,
textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0, 0, 5px, red;
  -webkit-box-shadow: 0, 0, 5px, red;
  -o-box-shadow: 0, 0, 5px, red;
  box-shadow: 0, 0, 5px, red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::selection,
::-moz-selection {
  background: #f5f4bf;
  color: #444;
  text-shadow: none;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

body,
select,
input,
textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {

}

html {
  height: 100%;
}

body {
  width: 960px;
  margin: 15px auto;
  padding-bottom: 20px;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #3a3a3a; 
  font-weight: normal;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

h4 {
  font-weight: 400;
  font-size: 14px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin-left: 0;
}

.credentials {
  /* background-color: #f8f8f8; */
  border: 1px solid #dcdcdc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
}

.credentials.authed {
  background-color: #d5f5bd;
  border-color: #86bf6a;
  padding: 10px;
}

.credentials.authed form {
  display: none;
}

.credentials img {
  margin-left: 10px;
}

.credentials h2 {
  margin-bottom: 0;
}

.credentials div {
  float: left;
  margin-right: 15px;
}

.credentials form {
  margin-top: 10px;
}

.credentials label {
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
}

.credentials input {
  width: 200px;
}

.credentials #oauth-auth {
  margin-top: 20px;
}

#controls {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  border: 1px solid #dcdcdc;
  border-width: 1px 0;
  padding: 10px 0;
}

#controls li {
  padding-right: 10px;
  float: left;
}

#controls li:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

.endpoint {
  margin: 0;
  /* background-color: #f8f8f8; */
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  *zoom: 1;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.endpoint:hover, .endpoint.expanded {
  /* background-color: #fff; */
}

.endpoint > .title {
  padding: 15px 0 15px 10px;
  overflow: hidden;
  *zoom: 1; 
}

.endpoint > .title .name {
  font-size: 14px;
  float: left; 
  color: #3a3a3a;
}

.endpoint > .title .name:hover {
  cursor: pointer;
  text-decoration: underline; 
  color: #000;
}

.endpoint > .title .actions {
  float: right; 
  font-size: 13px;
}

.endpoint > .title .actions li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #ddd;
}

.endpoint > .title .actions li:first-child {
  border: 0;
}

.methods {
  display: none;
}

.method {
  font-size: 14px;
  border: 1px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  /*    &.authrequired .http-method {
          background-image: url(/images/lock.png);
          background-repeat: no-repeat;
          background-position: 7px 50%;
      }*/
}

.method div.headers {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
}

.method div.headers h4 {
  margin-top: 0;
}

.method div.headers .fields {
  display: none;
  padding: 0 15px;
  margin-bottom: 15px;
}

.method div.headers .indicator {
  border-width: 5px;
  border-color: transparent transparent transparent #333;
  border-style: solid;
  display: block;
  float: left;
  margin: 11px 0 0 10px;
}

.method div.headers.expanded .indicator {
  border-color: #333 transparent transparent transparent;
  margin-top: 14px;
}

.method:first-of-type {
  margin-top: 0;
}

.method .title {
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.method .title:hover {
  /* background-color: rgba(255, 255, 255, 0.5); */
  cursor: pointer;
}

.method .title:hover span {
  text-decoration: underline;
}

.method .title:hover span.http-method {
  text-decoration: none;
}

.method .title span {
  margin: 0 10px 0;
  line-height: 33px;
  float: left;
}

.method .title .uri {
  color: #777;
}

.method .title .name {
  font-size: 14px;
}

.method .title .description {
  float: right;
  font-size: 12px;
  text-align: right;
}

.method .title .http-method {
  padding: 0 10px;
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  -webkit-border-radius: 4px 0px 0px 0px;
  -moz-border-radius: 4px 0px 0px 0px;
  -o-border-radius: 4px 0px 0px 0px;
  -ms-border-radius: 4px 0px 0px 0px;
  border-radius: 4px 0px 0px 0px;
  color: #fff;
  line-height: 33px;
  float: left; 
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  
}

.method form {
  clear: both;
  padding: 15px;
  display: none;
}

.method form a.clear-results {
  color: #ff3300;
  margin-left: 20px;
  font-size: 12px; 
  padding: 1px 5px 2px 5px;
}

.method form a.clear-results:hover {
  background-color: #ff3300;
  color: #fff; 
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.method table {
  margin-bottom: 15px;
  width: 100%;
}

.method tr.required {
  color: #444;
}

.method th {
  font-weight: 600;
  text-align: left;
}
/* line 569, scss/style.scss */
.method th, .method td {
  padding: 5px;
  vertical-align: middle;
}

.method td, .method pre {
  font-family: "Courier New",Courier,monospace;
  font-size: 13px; 
  font-weight: normal;
}

.method td.description {
  font-size: 12px;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

.method td.type {
  font-size: 12px;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

.method h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}

.method h4 a.select-all {
  font-size: 12px;
  margin-left: 15px;
}

.method pre {
  font-size: 12px;
  padding: 10px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}

.method pre.response {
  max-height: 500px;
}

.method pre.prettyprint {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.method pre.error {
  background-color: rgba(255, 245, 245, 0.9);
  border-color: rgba(255, 100, 100, 0.5);
}

.get {
  /* background: #f8f8f8; */
  border-color: #dcdcdc;
}

.get .http-method {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.get th, .get td {
  border-bottom: 1px solid #dcdcdc;
}

.post {
  /* background: #f8f8f8; */
  border-color: #dcdcdc;
}

.post .http-method {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.post th, .post td {
  border-bottom: 1px solid #dcdcdc;
}

.put {
  background: #f8f8f8;
  border-color: #dcdcdc;
}

.put .http-method {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.put th, .put td {
  border-bottom: 1px solid #dcdcdc;
}

.delete {
  background: #f8f8f8;
  border-color: #dcdcdc;
}

.delete .http-method {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.delete th, .delete td {
  border-bottom: 1px solid #dcdcdc;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

dl {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}
dt {
  width: 30%;
  border-top: 1px rgba(0,0,0,.2) solid;
  padding-top: 5px;
  margin-top: 5px;
  display: block;
  float: left;
}
dd {
  width: 70%;
  border-top: 1px rgba(0,0,0,.2) solid;
  padding-top: 5px;
  margin-top: 5px;
  display: block;
  float: left;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

/* Main Page */
#main .title {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-top: -30px;
	margin-left: -480px;
	width: 960px;
	height: 50px;
}

#main h2 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#main .desc {
	text-align: center;
	color: #999; 
	font-style: italic;
	font-family: Georgia, serif;
}

#main .header {
	background-color: rgba(0,0,0,0.85);
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	border-bottom: 1px solid #fff;
}

#main .header h1 {
	font-family: 'Lobster',Arial,Helvetica,sans-serif;
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 15px 0 5px;
}

#main .header h1 span {
	/* color: #66ccff; */
}

#main #io-footer {
	position: fixed;
	left: 0px;
	top: 100%;
	width: 100%;
	height: 25px;
	margin-top: -51px;
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	text-align: center;
	font-size: 11px;
	padding: 20px 0 5px;
	/* box-shadow: inset 3px 0 5px rgba(0,0,0,0.1); */
}

/* AddThis */
.addthis_toolbox {
	width: 310px;
	height: 20px;
	margin-top: 50px;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}
.addthis_button_facebook_like { width:100px !important; overflow: hidden; }
.addthis_button_tweet { width:100px !important; overflow: hidden; }
.addthis_counter { width:100px !important; overflow: hidden; }

/* Spinner */
.choose {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 960px;
	height: 220px;
	margin-top: -130px;
	margin-left: -480px;
}
.ch-grid {
    display: block;
    list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.ch-grid:after, .ch-item:before {
    content: "";
    display: table;
}
.ch-grid:after {
    clear: both;
}
.ch-grid li {
    display: inline-block;
    height: 220px;
    margin: 20px;
    width: 220px;
}

/* Spinner Item */
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;

	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.png);
	box-shadow:
		0 0 0 20px rgba(255,255,255,0.2),
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ch-info .ch-info-back {
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg);
	-o-transform: rotate3d(0,1,0,180deg);
	-ms-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);

	background: #000;
}

.ch-img-1 {
	background-image: url(../images/1.jpg);
}

.ch-img-2 {
	background-image: url(../images/2.jpg);
}

.ch-img-3 {
	background-image: url(../images/3.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	margin: 0 15px;
	padding: 45px 0 0 0;
	height: 45px;
	font-weight: 600;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #aaa;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-weight: 400;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #0088cc;
	font-style: normal;
	font-weight: 600 !important;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.ch-info p a:hover {
	text-decoration: none;
}

.ch-img-2 .ch-info p a { color: #ff9900; }

.ch-img-3 .ch-info p a { color: #73d425; }

.ch-item:hover .ch-info-wrap {
	/* box-shadow:
		0 0 0 0 rgba(255,255,255,0.8),
		inset 0 0 3px rgba(115,114, 23, 0.8);
	*/
}

.ch-item:hover .ch-info {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	-o-transform: rotate3d(0,1,0,-180deg);
	-ms-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
}
